@import 'base';

.frame {
grid-template-columns: auto;


    @include computer {
       grid-template-columns:10% 60% 30%;
    }
}

#description {
    @include computer {
        grid-column: 2;
    } 
}

#made_by {
    @include computer {
        grid-column: 1;
        grid-row: 5;
    } 
}

.loginButton {
    @extend .button;
    display: grid-item;

    @include computer {
        grid-column: 3;
        font-size: 1.3em;
    } 
}

#loginTeacher {
    background-color: $teacher_color;
}

#loginTeacher:hover {
    background-color: lighten($teacher_color, 10%);
}

#loginSchoolAdmin {
    background-color: $admin_color;
}

#loginSchoolAdmin:hover {
    background-color: lighten($admin_color, 10%);
}

#loginParent {
    background-color: $parent_color;
}

#loginParent:hover {
    background-color: lighten($parent_color, 10%);
}

#loginStudent {
    background-color: $student_color;
}

#loginStudent:hover {
    background-color: lighten($student_color, 10%);
}
