@import 'reset';

* { 
    box-sizing: border-box;
}

/* Base colors for user_type are defined here. */

$teacher_color: #800000;
$admin_color: #982601;
$parent_color: #813772;
$student_color: #008000;

$background_color: #062F4F;
$warning_background_color: #FFAE42; //TODO: this color is same as teacher color, find new for this.
$warning_color: #C40000;

$made_by_font: 'Yellowtail', sans-serif;
$about_font: 'Merriweather', serif;
$help_font: 'Lato', sans-serif;
$button_font: 'Roboto', sans-serif;

$breakpoint_phone: "(min-width:480px)"; //It probably won't be used, it is here just for completeness.
$breakpoint_tablet: "(min-width:768px)";
$breakpoint_computer: "(min-width:1224px)";

@mixin tablet {
    @media #{$breakpoint_tablet} {
        @content;
    }
}

@mixin computer {
    @media #{$breakpoint_computer} {
        @content;
    }
}

@mixin phone {
    @media #{$breakpoint_phone} {
        @content;
    }
}


.warning {
    color:red;
}

#container {
    margin: 0 auto;
    width: 100%;
    padding: 1.5em;
    position: relative;
}

a {
    text-decoration:none;
    color:black;
}

/* W3C pattern */

 /* For mobile phones: */
[class*="col-"] {
        width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


.frame {
    background-color: $background_color;
    display: inline-box;
    width: 90%;
    margin-left: 5%;
    margin-right:5%;
    padding: 10px;
    margin-top: 15%;
    opacity: 0.95;
    display: grid;
    color:white;

    @include computer {
        margin-left: 10%;
        width: 80%;
        font-size:1.1em;
    }
}

.about {
    font-size: 1.2em;
    font-family: $about_font;
}

.help {
   font-family: $help_font; 
}

.warning {
   font-family: $help_font; 
   color: $warning_color;
   font-weight: bold;
}


body {
    background-image: url("../images/registers.jpg");
    background-size: 100% ;
    background-repeat: no-repeat;
    background-color: gray;
}

#made_by {
    font-family: $made_by_font;
    color:white;
    position: absolute;
    bottom: 0;
    left: 0;
}

#description {
    margin-top: 3%;
    font-size: 1.7em;
    color:white;
}

.button {
    align: center;
    color: white;
    width: auto;
    padding: 30px;
    margin: 8px;
    display:block;
    margin-right: 10%;
    border-radius: 7px;
    background-color:gray;
    text-align: center;
    font-family: $button_font;
    opacity: 1.0;
}

/*.logout {
    @extend .button;
    display: inline-block;
    padding: 15px;
    margin: 5px;
    float: right;
}*/
